<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Includes -->
    <script type="text/javascript" src="js/lib/underscore_dev.js"></script>
    <script type="text/javascript" src="js/lib/jquery_dev.js"></script>
    <script type="text/javascript" src="js/lib/backbone_dev.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- Code -->
    <script type="text/javascript" src="js/play_button.js"></script>
    <script type="text/javascript" src="js/playlist.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<script type="text/template" id="playlist-template">
    <table>
    <th>Song</th>
    <th>Tempo</th>
    <th>Energy</th>
    <th>Danceability</th>
    <th>Hotttnesss</th>
    <% _.each(songs, function (song) { %>
        <tr>
            <td><a href="" modelID=<%= song.id %>><%= song.title %></a> — <%= song.artist_name %></td>
            <td><%= song.audio_summary.tempo %></td>
            <td><%= song.audio_summary.energy %></td>
            <td><%= song.audio_summary.danceability %></td>
            <td><%= song.song_hotttnesss %></td>
        </tr>
    <% }); %>
    </table>
</script>
<body>
    <div id="playlist"></div><iframe id="preview"></iframe>
</body>
</html>
