<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Includes -->
    <script type="text/javascript" src="js/lib/underscore_dev.js"></script>
    <script type="text/javascript" src="js/lib/jquery_dev.js"></script>
    <script type="text/javascript" src="js/lib/backbone_dev.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- Code -->
    <script type="text/javascript" src="js/play_button.js"></script>
    <script type="text/javascript" src="js/playlist.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <!-- Templates -->
    <!-- TODO: load asynchronously from a separate file -->
    <script type="text/template" id="playlist-template">
        <table>
        <th>Song</th>
        <th>Tempo</th>
        <th>Energy</th>
        <th>Danceability</th>
        <th>Hotttnesss</th>
        <% _.each(songs, function (song) { %>
            <tr>
                <td><a href="" modelID=<%= song.id %>><%= song.title %></a> — <%= song.artist_name %></td>
                <td><%= song.audio_summary.tempo %></td>
                <td><%= song.audio_summary.energy %></td>
                <td><%= song.audio_summary.danceability %></td>
                <td><%= song.song_hotttnesss %></td>
            </tr>
        <% }); %>
        </table>
    </script>
</head>
<body>
    <iframe id="preview"></iframe>
    <div id="search">
        <div>
            <select>
                <option name="type" value="artist-radio" selected>Artist Radio</option>
                <option name="type" value="artist">Artist</option>
                <option name="type" value="genre-radio">Genre</option>
            </select>
        </div>
        <div id="searchFieldContainer">
            <input type="text" class="searchField" value="Michael Jackson"></input>
        </div>
        <div>
            <button type="button" id="removeField" disabled>-</button>
            <button type="button" id="addField">+</button>
        </div>
        <div>
            <!-- Add advanced search options -->
        </div>
        <div>
            <button type="button" name="search">Search</button>
        </div>
    </div>
    <div class="loadingIndicator">Loading...</div>
    <div id="playlist"></div>
</body>
</html>
