<!DOCTYPE html>
<html>
<head>
  <title>Workout Playlist Generator</title>
  <!-- Includes -->
  <script type="text/javascript" src="js/lib/underscore_dev.js"></script>
  <script type="text/javascript" src="js/lib/jquery_dev.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/lib/backbone_dev.js"></script>

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <!-- Code -->
  <script type="text/javascript" src="js/play_button.js"></script>
  <script type="text/javascript" src="js/playlist.js"></script>
  <script type="text/javascript" src="js/search.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

  <!-- Templates -->
  <!-- TODO: load asynchronously from a separate file -->
  <script type="text/template" id="searchResultList-template">
    <div class="results-container">
     <ul class="results">
     </ul>
   </div>
  </script>
  <script type="text/template" id="searchResult-template">
    <a class="song-result" href="" modelID=<%= id %>><%= title %></a>
    <p class="artist"> <%= artist_name %></p>
    <a href="#" class="more-song-info">+</a>
    <div class="song-summary-container">
      <div class="song-summary-tempo">
        <span>Tempo: </span> <%= audio_summary.tempo %>
      </div>
      <div class="song-summary-energy">
        <span>Energy: </span> <%= audio_summary.energy %>
      </div>
      <div class="song-summary-danceability">
        <span>Danceability:</span> <%= audio_summary.danceability %>
      </div>
      <div class="song-summary-hotttnesss">
        <span>Hotttnesss:</span> <%= song_hotttnesss %></div>
    </div>
  </script>
  <script type="text/template" id="stage-template">
  </script>
  <script type="text/template" id="searchType-template">
    <p>View tracks based on: </p>
    <select single>
      <% _.each(options, function (data, option) { %>
        <option name=<%= data.seed %> value=<%= option %>><%= data.text %></option>
      <% }); %>
    </select>
  </script>
</head>
<body>
  <div id="heading">| Workout Playlist Generator</div>
  <div id="stage-container">
    <div id="warmup" class="stage">
      <div class="stage-description">
        <h1>Warm Up</h1>
        <h2>Select some songs to go along with your warm up.</h2>
      </div>
      <div class="stage-module-container">
        <div class="search-container">
          <div class="searchType">
          </div>
          <div class="searchFieldContainer"></div>
          <div>
            <button type="button" class="removeField" disabled>Remove Field -</button>
            <button type="button" class="addField">Add Field +</button>
          </div>
          <div>
            <!-- Add advanced search options -->
          </div>
          <div>
            <button type="button" class="search">Search</button>
          </div>
        </div>
      </div>
      <div class="loadingIndicator" style="display: none;">
        <div class="eq-spinner"><i></i></div>
      </div>
      <div class="searchResults"></div>
    </div>
  </div>
</body>
</html>
